@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --primary-color: #3ea796;
  --nav-bar: #f7f3ed;
  --heading: #333333;
  --light-silver: #68727c;
}

@theme {
  --color-primary: var(--primary-color);
  --color-navbar: var(--color-navbar);
  --color-heading: var(--heading);
  --color-paragraph: var(--light-silver);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
}

#links-container > li > a {
  position: relative;
  padding-bottom: 2px;
  transition: color 100ms;
}

#links-container > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: width 150ms;
}

#links-container > li > a:hover::after {
  width: 100%;
}

#links-container > li > a:hover {
  color: var(--primary-color);
}

/* active state */
.active > li > a::after {
  width: 100%;
}

.active > li > a {
  color: var(--primary-color);
}

@layer utilities {
  .bg-gold-cream {
    background: linear-gradient(
      to bottom,
      oklch(92.095% 0.06049 79.093),
      oklch(97.14% 0.00245 46.981)
    );
  }
}
